header {
    position:sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.74);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

.container {
    display: flex;
    justify-content: space-between;
    row-gap: 5px;
    margin-top: 50px;
    width: 230px;
    padding: 5px;

}


body {
    margin-top: 0px;
    left: 0;

   
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.74);
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px;
}